.navbar {
    padding: 10px 20px;
    justify-content: flex-start;
}

.navbar__logo {
    background: url(./assets/images/banner.png) no-repeat 50%/contain;
    width: 64px;
    height: 64px;
    margin-right: 30px;
}

.navbar__title {
    font-size: 24px;
    color: #fff;
}

.not-found-alert,
.russian-alert {
    justify-content: center;
}

.swiper-container {
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poster {
    height: 300px;
    width: auto;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}